body {
    background-image: linear-gradient(
    rgb(50,50,205),
    rgb(77, 219, 255)
    );
    height: 100vh;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

#below-cover {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 3em 0 1em 0;
}

#button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
 }

.button {
     font-size: 1.5em;
     cursor: pointer;
}
.button-navigate {
        font-size: 3em;
 }
.button-biggest {
    font-size: 4em;
 }
#cover {
    width: 450px;
}
#playlist-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 4em 0;
}
#song-name {
    font-size: 1.5em;
    font-weight: bolder;
}
.light-color {
    color: rgb(240, 184, 16);
}
#progress-bar {
    background-color:rgb(240, 184, 16);
    height: 3px;
    width: 100%;
    border-radius: 15px;
}
#current-progress {
    --progress: 0%;
    background-color: blue;
    height: inherit;
    width: var(--progress);
    border-radius: inherit;
}
#progress-container {
    cursor: pointer;
  }
button {
    background-color: inherit;
    color: inherit;
    border: none;
  }
.button-active {
    color: rgb(247, 6, 227)
}
#time-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
    margin-top: 0.5em;
}
